*/spreadsheet/memo.txt
/memos
__pycache__

# 以下ホントにgit管理から外したいのか確認必要
flutter/myapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
flutter/myapp/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
flutter/myapp/web/manifest.json
gcp/terraform/vpc-by-terraformer/generated/google/work1111/firewalls/asia-east1/.terraform/
gcp/terraform/vpc-by-terraformer/generated/google/work1111/instances/asia-east1/.terraform/
gcp/terraform/vpc-by-terraformer/generated/google/work1111/networks/asia-east1/.terraform/
gcp/terraform/vpc-by-terraformer/generated/google/work1111/subnetworks/asia-east1/.terraform/
go/cmd/posting/credentials.json
go/cmd/posting/token.json
go/cmd/spreadsheet/credentials.json
go/cmd/spreadsheet/token.json
javascript/javascript/node-fetch/node_modules/node-fetch/package.json
javascript/javascript/node-fetch/package-lock.json
postgres/deployments/03_terraform/.terraform/
react/my-app/package-lock.json
react/my-app/package.json
react/my-app/public/manifest.json
rust/call-qoo/target/.rustc_info.json
rust/call-qoo/target/debug/.fingerprint/call-qoo-0f00a4fcb21d1549/bin-call-qoo.json
rust/call-qoo/target/debug/.fingerprint/qoo-d1982854fac38f0c/lib-qoo.json
rust/learning_by_microsoft/rust-learning-path/hello-cargo/target/.rustc_info.json
rust/learning_by_microsoft/rust-learning-path/hello-cargo/target/debug/.fingerprint/hello-cargo-27e9f0937b4b815d/bin-hello-cargo.json
rust/old/hello_cargo/target/.rustc_info.json
rust/old/hello_cargo/target/debug/.fingerprint/hello_cargo-d5b6432f8d84d54f/bin-hello_cargo.json
terraform/.terraform/
typescript/mytask/tsconfig.json